<!Doctype html>
<html>
  <head>
    <title>Nina Careers</title>
    {% include 'bootstrap.html' %}
    {% include 'nav.html' %}
  </head>
  <body>
    <div class='container'>
      <h1 class="text-center mt-2 mb-4">{{company_name}} Careers</h1>
      <img class='img-fluid' src='/static/fragrance.jpg' style="height:400px;width:100%">
      <h2 class="text-center mt-2 mb-4">About Nina</h2>
     <div class="row">
       <div class="col-md-8">
      <p class='lead'>Nina Ricci has represented bold and optimistic femininity since its inception. In 1946, the Maison created its very first perfume, Coeur de Joie, followed by the iconic L’Air du Temps in 1948, embodying the timelessness of the house.
More than a brand, Nina Ricci encourages women to flourish and feel their best. Independent, powerful and elevated by a sincere beauty, the Nina Ricci woman is empowered to reveal the charm of her emotions and fulfil her deepest desires.</p></div>
      <div class="d-none d-md-block col-md-4">
        <img src="/static/side2.jpg" style="height:200px;border-radius:4px">
      </div></div>
      <h3 class="text-center mt-2 mb-4">Job Openings</h3>
      <div>
        {% for job in jobs %}
        {% include 'jobitems.html' %}
        {% endfor %}
      </div>
      <div class="text-center">
      <a  href="mailto:Ninaforfuture@Nina.com?subject=Queries%20regarding%20jobtitle&body=Jobtitle%20%3A%0D%0Aquery%20%3A%0D%0A%0D%0A%0D%0A%0D%0A%0D%0A%0D%0A%0D%0ARegards%2C%0D%0A%5BYour%20Signature%5D"class="btn btn-primary btn-lg">Contact Us!</a>
      
        {% include 'footer.html' %}
      </div>
    </div>
  </body>
</html>